/* Base styles for the BlogPost */
.blog-post {
	margin: 10px 0;
	padding: 15px;
	margin-left: 8vw;
	width: auto; /* Default width */
	border-radius: 8px;
	border: 1px solid black;
	background-color: #fff; /* Default light mode background */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease, box-shadow 0.2s ease,
		background-color 0.3s ease, width 0.3s ease; /* Smooth transition for width */
	color: #000; /* Default light mode text */
	min-width: 400px; /* Set a minimum width */
	max-width: 90vw; /* Ensure it doesn't exceed viewport width */
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Styles for dark mode */
.blog-post.dark {
	background-color: #1e1e1e; /* Dark mode background */
	color: #fff; /* Dark mode text color */
	border-color: #333;
}

.blog-post.expanded {
	width: 100%; /* Full width when expanded */
}

/* Button styles */
.toggle-button {
	margin-top: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background-color: #007bff;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
}

.toggle-button:hover {
	background-color: #0056b3;
}

/* Like button container */
.button-container {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 10px;
}

.like-button-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* Like button styles */
.like-button {
	font-size: 20px;
	background: none;
	border: none;
	cursor: pointer;
}

.like-button:hover {
	border-radius: 50%;
	background-color: hsla(105, 95%, 41%, 0.881);
}

.like-button.liked {
	color: red; /* Change color when liked */
}

.like-count {
	margin-left: 1px;
	font-size: 16px;
	color: #555;
}

/* Dark mode styles for dropdowns */
.dark-mode select {
	background-color: #333;
	color: #fff;
}

.light-mode select {
	background-color: #fff;
	color: #000;
}
.dark-mode .like-count {
	color: #fff;
	background-color: #333;
}

@media (max-width: 768px) {
	.blog-post {
		min-width: 90%; /* Adjust minimum width for smaller screens */
	}
}
